body {
  background-color: skyblue;
}

.bg-1 {
  background: url(../image/netAuth.webp) no-repeat center 0px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}

main {
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
  height: 100vh;
}

main::-webkit-scrollbar {
  width: 0;
}

.page {
  padding-top: 100px;
  scroll-snap-align: start;
  scroll-snap-stop: always;
  height: 100vh;
}

.bg-bottom-cover {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 10vh;
  background: linear-gradient(0deg, #ffffffff, #ffffff00);
  padding-left: 0;
  text-align: center;
  padding-top: 5vh;
}

.carousel-inner img {
  /* width: 100%; */
  max-width: 100%;
  object-fit: cover;
  /* max-height: auto; */
  /* max-height: 100%; */
  /* margin: auto; */
  height: 100%;
}

.carousel-item {
  height: 400px;
}

.title {
  font-size: 4rem;
  font-family: RoGSanSrfStd-Bd, GlowSansSC-Normal-Heavy_diff;
  line-height: 4.1rem;
}

.title-highlight {
  color: #128afa;
}
