.bg-2 {
    background: url(../image/bg2.jpg) no-repeat center 0px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    overflow: auto
}
/* 主框架格子css样式 */
.main{
    padding-top: 90px;
}
/* 列表单格子css样式 */
.category_bar{
    padding-top: 25px;
}

/* 列表单字体样式 */
.sizecategory_bar{
    color: black;
    font-size: 15pt;
}

.sizecategory_bar:hover {
    /* 无下划线 */
    text-decoration: none;
    /* 点击时字体是黑色 */
    color: black;
}

/* 物品展示框外部大盒子样式js Picture_frame（） */
.other-item {
    background-color: #fff;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
    border-radius: 0.5rem;
    box-shadow: #00000099 0 0 0.8rem;
}
/* 图片框的格式大小 */
.picture_frame {
    width: 100%;
    height: 180px;
}
/* 图片的css样式 */
.picture_frame img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
/* commodity商品的各个属性外框的css */
/* 价格外部边框的格子大小 */
.commodity-price {
    height: 40px;
    width: 100%;
    overflow: hidden;
}
/* 名字外部边框的大小 */
.commodity-name {
    height: 25px;
    width: 100%;
    overflow: hidden;
}
/* 详细边框的格式大小 */
.commodity-description {
    width: 100%;
    height: 45px;
    overflow: hidden;
    text-overflow: ellipsis;
    /* white-space: nowrap; */
}
/* 价格字体css样式 */
.size-price {
    color: rgb(236, 19, 19);
    font-size: 20pt;
}
/* 物品名字字体css样式 */
.size-name{
    color: black;
}
/* 详细介绍字体css样式 */
.size-description{
    color: black;
    
}
/* 物品名字字体引入*/
.size-name {
    font-family: RoGSanSrfStd-Bd, GlowSansSC-Normal-Heavy_diff;
}
/* 商品块区域边距 */
.product_display_area{
    padding-top: 10px;
}
/* 物品外部样式框架 */

/* 搜索结果样式 */
#search_results {
    position: absolute;
     top: 100%;
    width: 68%; 
}

/* 搜索栏格子样式 */
.search-table {
    padding-right: 5%;
}

.other-item:hover {
    filter: brightness(90%);
}